/*end  footer */
.footer {
    background-color: #fff;
    padding: 40px 20px;
    color: #333;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-logo {
    width: 150px;
    margin-bottom: 10px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #0b1218;
}

.footer-section ul li a:hover {
    text-decoration: none;
    /* Bỏ gạch chân khi hover */
}